<form action="{% url 'schedule:edit_task' task.id %}"
      method="post">
  {% csrf_token %}
  
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" name="name" value="{{ task.name }}"></td>
    </tr>

    <tr>
      <td>Original estimate</td>
      <td>{{ task.orig_estimate }}</td>
    </tr>

    <tr>
      <td>Time spent</td>
      <td><input type="text"
		 size="4"
		 name="days_worked"
		 value="{{ task.days_worked }}"></td>
    </tr>

    <tr>
      <td>Time remaining</td>
      <td><input type="text"
		 size="4"
		 name="estimate_remaining"
		 value="{{ task.estimate_remaining }}"></td>
    </tr>

    <tr>
      <td></td>
      <td><input type="submit" value="Edit"></td>
    </tr>
  </table>
  
</form>
