{% extends "schedule/base.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'js/gantt.js' %}"></script>

{% endblock %}

{% block content %}
<h2>Gantt</h2>
<div id="chart_div"></div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Resource</th>
    <th>Estimate</th>
    <th>Days worked</th>
    <th>Estimate remaining</th>
    <th>Gain</th>
    <th></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>
      {{ task.name }}
    </td>
    <td>
      {{ task.resource.name }}
    </td>
    <td>
      {{ task.orig_estimate }}
    </td>
    <td>
      {{ task.days_worked }}
    </td>
    <td>
      {{ task.estimate_remaining }}
    </td>
    <td>
      {{ task.gain }}
    </td>
    <td>
      <a href="{% url 'schedule:edit_task' pk=task.id %}">edit</a>
    </td>
  </tr>
  {% endfor %}

  <tr>
    <td colspan="6"></td>
    <td>
      <a class="btn btn-primary"
	 href="{% url 'schedule:add_task' %}">add</a>
    </td>
  </tr>
</table>
{% endblock %}
