{% extends "schedule/base.html" %}
{% load staticfiles %}

{% block javascript %}
<script lang="javascript">
  $(function(){
    $("#task-tabs").tabs();
    $(".sortable-table tbody").sortable({
      items: "tr:not(.sortable-footer)"
    });
    $(".sortable-table tbody").disableSelection();
  });
</script>
{% endblock %}

{% block content %}
<h2>Gantt</h2>
<div>
  <a href="{% url 'schedule:gantt_svg_permalink' project.permalink %}">permalink</a>
  <div>
    <object data="{% url 'schedule:gantt_svg' %}" type="image/svg+xml"></object>
  </div>
</div>

<div id="task-tabs">
  <!-- Tab labels -->
  <ul>
    <li><a href="#tab-in-progress">In progress</a></li>
    <li><a href="#tab-completed">Completed</a></li>
  </ul>

  <!-- Tab contents for in-progress tasks -->
  <div id="tab-in-progress">
    <table class="table table-striped sortable-table">
      <thead>
	<tr>
	  <th></th>
	  <th>Name</th>
	  <th>Resource</th>
	  <th>Estimate</th>
	  <th>Days worked</th>
	  <th>Estimate remaining</th>
	  <th>Gain</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
      {% for task in tasks %}
      <tr>
	<td>
	  <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
	</td>
	<td>
	  {{ task.name }}
	</td>
	<td>
	  {{ task.resource.name }}
	</td>
	<td>
	  {{ task.orig_estimate }}
	</td>
	<td>
	  {{ task.days_worked }}
	</td>
	<td>
	  {{ task.estimate_remaining }}
	</td>
	<td>
	  {{ task.gain }}
	</td>
	<td>
	  <a href="{% url 'schedule:edit_task' pk=task.id %}">edit</a>
	</td>
      </tr>
      {% endfor %}
      </tbody>

      <tr class="sortable-footer">
	<td colspan="6"></td>
	<td>
	  <a class="btn btn-primary"
	     href="{% url 'schedule:add_task' %}">add</a>
	</td>
      </tr>
    </table>
  </div>

  <div id="tab-completed">
    <table class="table table-striped">
      <tr>
	<th>Name</th>
	<th>Resource</th>
	<th>Estimate</th>
	<th>Days worked</th>
	<th>Gain</th>
	<th></th>
      </tr>
      {% for task in completed_tasks %}
      <tr>
	<td>
	  {{ task.name }}
	</td>
	<td>
	  {{ task.resource.name }}
	</td>
	<td>
	  {{ task.orig_estimate }}
	</td>
	<td>
	  {{ task.days_worked }}
	</td>
	<td>
	  {{ task.gain }}
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
