{% extends "schedule/base.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static 'js/weekly_report.js' %}"></script>
{% endblock %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/brewer.css' %}">
{% endblock %}

{% block content %}

<form action="{% url 'schedule:update_resource_usage' %}"
      method="post">
  {% csrf_token %}
  <input type="hidden" name="resource" value="{{ resource.pk }}">
  <input type="hidden" name="start_date" value="{{ start_date.isoformat }}">
<div class="col-md-8">
  <table class="table">
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>

    <tr class="week_row">
      <td class="{{ usage_lookup.0.am.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[AM][0]"
	       value="{{ usage_lookup.0.am.pk }}">
	<span class="day_label">{{ usage_lookup.0.am.label }}</span>
      </td>
      <td class="{{ usage_lookup.1.am.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[AM][1]"
	       value="{{ usage_lookup.1.am.pk }}">
	<span class="day_label">{{ usage_lookup.1.am.label }}</span>
      </td>
      <td class="{{ usage_lookup.2.am.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[AM][2]"
	       value="{{ usage_lookup.2.am.pk }}">
	<span class="day_label">{{ usage_lookup.2.am.label }}</span>
      </td>
      <td class="{{ usage_lookup.3.am.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[AM][3]"
	       value="{{ usage_lookup.3.am.pk }}">
	<span class="day_label">{{ usage_lookup.3.am.label }}</span>
      </td>
      <td class="{{ usage_lookup.4.am.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[AM][4]"
	       value="{{ usage_lookup.4.am.pk }}">
	<span class="day_label">{{ usage_lookup.4.am.label }}</span>
      </td>
    </tr>

    <tr class="week_row">
      <td class="{{ usage_lookup.0.pm.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[PM][0]"
	       value="{{ usage_lookup.0.pm.pk }}">
	<span class="day_label">{{ usage_lookup.0.pm.label }}</span>
      </td>
      <td class="{{ usage_lookup.1.pm.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[PM][1]"
	       value="{{ usage_lookup.1.pm.pk }}">
	<span class="day_label">{{ usage_lookup.1.pm.label }}</span>
      </td>
      <td class="{{ usage_lookup.2.pm.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[PM][2]"
	       value="{{ usage_lookup.2.pm.pk }}">
	<span class="day_label">{{ usage_lookup.2.pm.label }}</span>
      </td>
      <td class="{{ usage_lookup.3.pm.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[PM][3]"
	       value="{{ usage_lookup.3.pm.pk }}">
	<span class="day_label">{{ usage_lookup.3.pm.label }}</span>
      </td>
      <td class="{{ usage_lookup.4.pm.css_class }}">
	<input class="day_input"
	       type="hidden"
	       name="days[PM][4]"
	       value="{{ usage_lookup.4.pm.pk }}">
	<span class="day_label">{{ usage_lookup.4.pm.label }}</span>
      </td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-default" type="submit">Submit</button></td>
    </tr>
  </table>
</form>
</div>

<div class="col-md-4">
  {% for task in tasks %}
  <p style="padding: 3px;" class="task_color{{ forloop.counter0 }}">
    <input type="radio" name="task" value="{{ task.pk }}" task-name="{{task.name}}">{{ task.name }}</input>
  </p>
  {% endfor %}
</div>

{% endblock %}
