
.task_color0 {
    background: rgb(141, 211, 199);
}



.task_color1 {
    background: rgb(255, 255, 179);
}



.task_color2 {
    background: rgb(190, 186, 218);
}



.task_color3 {
    background: rgb(251, 128, 114);
}



.task_color4 {
    background: rgb(128, 177, 211);
}



.task_color5 {
    background: rgb(253, 180, 98);
}



.task_color6 {
    background: rgb(179, 222, 105);
}



.task_color7 {
    background: rgb(252, 205, 229);
}



.task_color8 {
    background: rgb(217, 217, 217);
}



.task_color9 {
    background: rgb(188, 128, 189);
}


